/*common start*/
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #898989;
	padding-top: 90px;
}
.c_padding{
	padding-top: 100px;
	padding-bottom: 120px;
}
/*common end*/
/*header start*/
header{
	background-color: #141414;
	padding: 15px 0;
}
.c_nav{}
.logo{
	width: 130px;
}
.menu{
    margin-top: 10px;
}
.menu ul li a{
	font-size: 18px;
    font-weight: 500;
    color: white !important;
    padding: 0 25px !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: #E7BD34 !important;
}
/*header end*/

/*slider start*/
.hero-bg-light-yellow{
    height: 630px;
    background-repeat: no-repeat;
    background-color: #343E5F;
    background-position: center top;
}
.hero-area{
	display: flex;
    position: relative;
    align-items: center;
}
.p-0{
	padding: 0!important;
}
.c_ind {
    bottom: -80px;
}
.c_ind [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.s_text{
	margin-top: 50px;
}
.s_text span{
    color:#E7BD34 ;
}
.s_text h1{
    padding-bottom: 27px;
	font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.s_text p{
	margin-bottom: 35px;
	color: #eaeaea;
}
.fs_icon button{
	background-color: #E7BD34;
	color: #141414;
	border: none;
	z-index: 1;
    transition: 0.2s;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    overflow: hidden;
    margin-top: -5px;
    padding: 15px 23px;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.fs_icon button:hover{
    background-color:white;
	color: #E7BD34;
}
.s_icon button{
	background-color: #E7BD34;
	color: #141414;
	border: none;
	z-index: 1;
    transition: 0.2s;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.8;
    overflow: hidden;
    padding: 22px 30px;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.s_icon button:hover{
    background-color:#000000 ;
	color: #E7BD34;
}
.s_img{}
.s_img img{
	margin-top: 90px;
    margin-left: 15px;
}
/*slider end*/

* {
    outline: none;
    box-sizing: border-box;
}

/*feature start*/
.c_title{
    margin-top: 65px;
}

.sf_content{
	margin-top: 40px;
    margin-bottom: 50px;
	padding: 40px 40px 40px;
	text-align: center;
	/* border: 5px solid #f6f7fb; */
	border-radius: 10px;
}
.sf_content:hover{
	border-color: transparent;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.sf_icon{
	margin: 0 auto;
	padding-top: 22px;
	width: 75px;
	height: 75px;
	text-align: center;
    background-color: #FEFBF0;
	border-radius: 50%;
}

.sf_content h4{
	margin: 25px 0 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #112e41;
}
.sf_content p{}

/*special_features end*/

.about-us-area {
    position: relative;
}
.bg-2 {
    background-color: #343E5F;
}
.ss_img{}
.ss_img img{
	margin-top: 52px;
    /* margin-left: 15px; */
}
.cp{
    margin-top: -22px;
}
.about-us-area .about-us-text {
    padding-right: 70px;
}
.div-title {
    font-size: 45px;
    font-weight: 700;
    position: relative;
    margin-bottom: 32px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
    color: #ffffff;
}
.about-us-area p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #c6c6c6;
}
p {
    font-size: 16px;
    color: #c6c6c6;
}
.button-dark {
    margin-top: 20px;
    color: black;
    position: relative;
    background-color: #E7BD34;
    
}
.button-dark:hover{
    background-color: #E7BD34;
    color: #000000;
}
.button {
    z-index: 1;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.8;
    overflow: hidden;
    padding: 22px 30px;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.about-us-area:after {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    content: "";
    background-image: url(/images/taxi-stripe.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.how-work-text h4,p{
    color:#141414 ;
}


/*blog*/
.blog{
    margin-top: 30px;
    padding-bottom: 100px;
}

.c_h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    line-height: 54px;
}
.c_item{
    margin-top: 60px;
    padding: 25px 20px 30px;
    color: #000000;
    background-color: #FFFFFF;
   
}
.c_item:hover{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.c_img img{
    width: 100%;
    border-radius: 11px;
}
.c_item h2{
    margin: 20px 0 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.c_item p{
    line-height: 24px;
}
.c_item a{
    margin: 20px 0 35px;
    padding: 8px 28px;
}
.c_footer{
    overflow: hidden;
}
.date ul{}
.date ul li{}
.date ul li img{
    width: 16px;
}
.date ul li span, .seat ul li span{
    font-weight: 500;
    line-height: 24px;
}
.seat ul li img{
    width: 18px;
}
.btn{
    background-color: #E7BD34;
    color: #000;
    border: none;
}
.btn:hover{
    background-color: #000;
    color: #E7BD34;
}
/*testimonial*/
.testimonial-section {
    padding-bottom: 80px;
}
.testimonial{
    padding: 40px 30px;
    border: 1px solid #8e8e8e;
}
.control-btns {
    padding: 40px 30px;
    border: 1px solid #8e8e8e;
}
.testimonial-right h4,h5 {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}
.testimonial-right h3{
    text-transform: uppercase;
    color: #333333;
}
.testimonial-right h5 {
    color: #333333;
}
.t-control {
    height: 100%;
    border: 1px solid #8e8e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
}
 .middle-p{
    margin: 15px 15px 25px 0;
    color: #8e8e8e;
}
.t-next {
    position: static;
    display: block;
    transform: rotate(90deg);
    margin: 40px 30px;
    text-align: center;
}
.t-prev{
    position: static;
    display: block;
    transform: rotate(90deg);
    margin: 40px 30px;
    text-align: center;
}
.t-next-icon {
    color: #8e8e8e;
    transition: .3s;
}
.t-prev-icon{
    color: #8e8e8e;
    transition: .3s;
}
.t-prev-icon:hover,
.t-next-icon:hover {
    color: #333333;
}
.t-indicator {
    margin: 100% 20px 20%;
    position: static;
    flex-direction: column;
}
.t-indicator [data-bs-target] {
    margin-top: -10px;
    width: 25px;
    background-color: #8e8e8e;
    opacity: 1;
}
.t-indicator .active {
    width: 30px;
    background-color: black;
}

/*contact start*/
.footer-nav-div {
    background-color: #343E5F;
    padding: 261px 0px 80px 0px;
}
.div-padding {
    padding: 100px 0;
}
.footer-nav-div .footer-brand {
    margin-bottom: 25px;
}
.footer-nav-div a, .footer-nav-div p {
    color: #fff;
}
.footer-nav-div p {
    word-break: break-all;
}
.app-download-box{
    margin-left: 119px;
}
.cta-button{
    margin-left: 90px;
}
.apd h4{
    margin-left: 77px;
}
.footer-nav-div .helpline h4, .footer-nav-div .helpline .h4 {
    margin-bottom: 15px;
}
.footer-nav-div h4, .footer-nav-div .h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 55px;
    text-align: center;
}
.footer-nav-div .helpline h3 span, .footer-nav-div .helpline .h3 span {
    color: #E7BD34;
    display: inline-block;
}
.company-address{
    margin-left: 150px;
}
.footer-nav-div h4, .footer-nav-div .h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}
.footer-nav-div .footer-navigation {
    display: flex;
}
.footer-nav-div .footer-navigation ul {
    flex-basis: 50%;
}
.footer-navigation li:not(:last-child) {
    margin-bottom: 6px;
}
li {
    list-style: none;
}
.footer-nav-div .footer-navigation ul a {
    transition: all 0.1s;
    display: inline-block;
}
.footer-nav-div a, .footer-nav-div p {
    color: #fff;
}

.footer-nav-div .app-download-box {
    display: flex;
}

.footer-nav-div .app-download-box a {
    display: inline-block;
    margin-bottom: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.footer-nav-div .cta-button a.button-light {
    color: #3B3B3B;
}
.footer-nav-div .cta-button a {
    width: 100%;
    display: block;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #fff;
}
.button-light {
    color: #373737;
    background-color: #E7BD34;
}
.button-light:hover{
 color: white !important;
 background-color: #000;
}
.button-black {
    color: #fff;
    position: relative;
    background-color: #1d1d1d;
}
.button-black:hover{
    color: #E7BD34;
    background-color: #000000;
}
.cm{
    margin-left: 50px;
}
/*contact end*/

/*footer start*/
footer{
	background-color: #141414;
	padding: 15px;
}
.author p{
    margin-top: 11px;
    color: white;
    text-align: center;
}
/*footer end*/
iframe{
    width: 100%;
    height: 500px;
    filter: invert(100%);
}
.footer-div #gmap_canvas {
    width: 100%;
    height: 340px;
}